{% extends 'base.twig' %}

{% block title %}Administrador{% endblock %}

{% block content %}
    <h2>Bienvenido!</h2>

    <div class="mt-4">
        <a href="/news/add" class="btn btn-primary me-2">Crear Noticia</a>
        <a href="/articles/add" class="btn btn-primary">Crear Articulo</a>
    </div>
    
{% endblock %}