{% extends 'base.twig' %}

{% block title %}Noticias{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center mt-4">
        <h2>Noticias</h2>
      </div>
      <div class="row row-cols-1 row-cols-md-2 g-4 mt-4">
        {% for item in news %}
          <div class="col">
            <div class="card rounded-3 shadow-sm">
              <div class="card-body">
                <h5 class="card-title justify-content-center">{{ item.title }}</h5>
                <div class="d-flex justify-content-center">
                    <a href="/news/{{ item.id }}" class="btn btn-primary btn-sm">Ver Noticia</a>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="col">
            <p>No hay noticias.</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>  
</div>


{% endblock %}
