{% extends 'base.twig' %}

{% block title %}Crear Noticia{% endblock %}

{% block content %}

<div class="container mt-5">
    <h2>Crear Noticia</h2>
    <form action="/news/save" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Título</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Contenido</label>
            <textarea class="form-control" id="content" name="content" rows="6" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Grabar Noticia</button>
    </form>
</div>

{% endblock %}
